@model List<CartItem>;
@{
    ViewData["Title"] = "Cart";

    int subtotal = 0;
    double taxAmount = 0;
    double total = 0;

    for (int i = 0; i < Model.Count; i++)
    {
        subtotal += Model[i].Item.Price * Model[i].Quantity;
    }

    taxAmount = subtotal * 0.1;
    total = subtotal + taxAmount;
}

<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var cartItem in Model)
        {
            <div class="divBackground col-lg-3 d-flex flex-column text-center shadow-sm p-4 mb-4" height="700px">
                <img src="~/images/@Html.DisplayFor(modelItem => cartItem.Item.Thumbnail)" class="img-thumbnail mx-auto" height="75px" width="75px" /><br />
                Name:<br />
                @Html.DisplayFor(modelItem => cartItem.Item.Name)<br /><br />
                Description:<br />
                @Html.DisplayFor(modelItem => cartItem.Item.Description)<br /><br />
                Price:<br />
                @Html.DisplayFor(modelItem => cartItem.Item.Price)<br /><br />
                <div class="mx-auto align-self-end">
                    <form method="POST" asp-action="Quantity">
                        <input type="number" id="quantityNum" name="quantityNum" value="@Html.DisplayFor(modelItem => cartItem.Quantity)" class="text-center" />
                        <input type="hidden" id="itemId" name="itemId" value="@cartItem.Item.ItemID">
                        <input type="submit" value="Update" class="btn-block" />
                    </form>
                    <br />
                    <form method="POST" asp-action="Delete">
                        <input type="hidden" id="itemId" name="itemId" value="@cartItem.Item.ItemID">
                        <input type="submit" value="Delete" class="btn-block" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />

<div class="divBackground padding" height="700px">
    Subtotal: @subtotal gp<br />
    Tax: @taxAmount gp<br />
    Total: @total gp<br /><br />
    <form method="Post" class="alignRight" asp-action="Checkout">
        <input type="submit" value="Checkout" class="btn-block" />
    </form>
</div>
