@model IEnumerable<OddballStore.Models.Item>

@{
    ViewData["Title"] = "Items";
}

<div class="text-center">
    <h1 class="display-4">Store</h1>
</div>
<div class="container-fluid">
    <div class="row">
       @foreach (var item in Model)
        {
            <div class="divBackground col-lg-3 d-flex flex-column text-center shadow-sm p-4 mb-4" height="700px">
                <img src="~/images/@Html.DisplayFor(modelItem => item.Thumbnail)" class="img-thumbnail mx-auto" height="75px" width="75px" /><br />
                Name:<br />
                @Html.DisplayFor(modelItem => item.Name)<br /><br />
                Description:<br />
                @Html.DisplayFor(modelItem => item.Description)<br /><br />
                Price:<br />
                @Html.DisplayFor(modelItem => item.Price) gp<br /><br />
                <div class="mx-auto align-self-end">
                    <form method="post" asp-area="" asp-controller="Home" asp-action="Items">
                        <input type="hidden" id="ItemId" name="ItemId" value="@item.ItemID">
                        <input type="hidden" id="Name" name="Name" value="@item.Name">
                        <input type="hidden" id="Description" name="Description" value="@item.Description">
                        <input type="hidden" id="Price" name="Price" value="@item.Price">
                        <input type="hidden" id="Thumbnail" name="Thumbnail" value="@item.Thumbnail">
                        <input type="submit" value="Add to Cart" class="btn-block" />
                    </form>
                </div>
            </div>
        }
    </div>
</div>